#main .sectionh2 {
    padding-top: 10px;
}

#main .sectionh2 h2 {
margin:0 0 10px;
padding:5px 5px 5px;
}

#main .sectionh2 h2 span {
color:#000000;
font-size:medium;
font-weight:bold;
padding:0px 5px;
}

#main .link {
text-align: right;
font-size:x-small;
}
#main table {
width: 580px;
}

#main .list table th {
background:#666;
border-left:#ccc 1px solid;
color:#fff;
text-align:center;
}

#main .list table td {
background:#FFFFFF;
border-bottom: #ccc 1px dotted;
color: #000000;
text-align:left;
}

#main .form th {
    background: #666;
    border-bottom: #ccc 1px solid;
    color:#fff;
    text-align:center;
    padding: 3px;
}

#main .form td {
    background: #FFF;
    padding: 3px;
}

#main .message {
    width:580px;
    height:10px;
}
.header {
    width:auto;
    text-align:right;
}

