@charset "utf-8";
/***********************************************/
/* HTML tag styles                             */
/***********************************************/

a,a:link{
color:#000;
text-decoration:underline}
a:visited{color:#000}
a:hover{color:#000;text-decoration:none}
strong{font-weight:bold}

/***********************************************/
/* layout divs                                 */
/***********************************************/


/***********************************************/
/* #head style                                 */
/***********************************************/

#head #logo a{
display:block;
height:18px;
left:13px;
overflow:hidden;
width:186px;
top:33px}

/***********************************************/
/* #main style                                 */
/***********************************************/



/***********************************************/
/* #sideBar style                              */
/***********************************************/



/***********************************************/
/* #foot style                                 */
/***********************************************/

